body{
    background-color: gray;
}
table{
    background-color: #fff;
    border: 2px solid blue;
    border-collapse: collapse;
    align-items: center;
}
th,tr,td{
    border:1px solid red;
    border-collapse: collapse;
    
}
h1{
    color: darkblue;
}
.png{
    text-align: center;
}